@using Microsoft.AspNetCore.Mvc.Infrastructure
@using System.Drawing

<div class="characterTab">
    <div class="characterTabSelector">
        <div style="@_tabColors[0]" @onclick="x =>DisplayTab(0) " class="tabButton">Weapons</div>
        <div style="@_tabColors[1]" @onclick="x =>DisplayTab(1) " class="tabButton">Defense</div>
        <div style="@_tabColors[2]" @onclick="x =>DisplayTab(2) " class="tabButton">Gear</div>
        <div style="@_tabColors[3]" @onclick="x =>DisplayTab(3) " class="tabButton">Spells</div>
        <div style="@_tabColors[4]" @onclick="x =>DisplayTab(4) " class="tabButton">Details</div>
        <div style="@_tabColors[5]" @onclick="x =>DisplayTab(5) " class="tabButton">Feats</div>
        <div style="@_tabColors[6]" @onclick="x =>DisplayTab(6) " class="tabButton">Actions</div>
        
        
        
    </div>
    
    <div class="tabZone">
        
    @if (_tabValues[0])
    {
        <div class="backBlock" style="background: #0c4128;height: 100%">
            
        </div>
    }
    @if (_tabValues[1])
    {
        <div class="backBlock" style="background: #0dcaf0;height: 100%">
                    
                </div>
    }
    @if (_tabValues[2])
        {
            <div class="backBlock" style="background: #6a1a21;height: 100%">
                        
                    </div>
        }
    @if (_tabValues[3])
        {
            <div class="backBlock" style="background: #7f1488;height: 100%">
                        
                    </div>
        }
    @if (_tabValues[4])
            {
                <div class="backBlock" style="background: #7be142;height: 100%">
                            
                        </div>
            }
    @if (_tabValues[5])
            {
                <div class="backBlock" style="background: #bb8d18;height: 100%">
                            
                        </div>
            }
    @if (_tabValues[6])
            {
                <div class="backBlock" style="background: #cb9088;height: 100%">
                            
                        </div>
            }
        
        
    </div>
    
    
    
</div>

@code {

    
    
    private List<string> _tabColors = new List<string>()
    {
        "color:rgb(240,50,30)","","","","","",""
    };
    private List<bool> _tabValues = new List<bool>()
    {
        true,false,false,false,false,false,false
    };
    
    

    private void DisplayTab(int tabNumber)
    {
        for (int i = 0; i < _tabValues.Count; i++)
        {
            _tabValues[i] = false;
            _tabColors[i] = "";
        }
        _tabValues[tabNumber] = true;
        _tabColors[tabNumber] = "color:rgb(240, 50, 30)";
    }
}